body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.caro-home img{
    padding-top:50px;
}
.navbar-atas {
    padding-left: 33rem;
}

.nav-drop-1 {
    background-color: whitesmoke;
    color: black;
}

.nav-drop-1:hover {
    background-color: black;
    color: red;
}

.nav-drop-2 {
    background-color: whitesmoke;
    color: black;
}

.nav-drop-2:hover {
    background-color: black;
    color: red;
}

.slider-home img {
    height: 48rem;
}

.container-jumbo h1 {
    padding-left: 4%;
    padding-right: 3%;
    padding-top: 5%;
}

.container-jumbo p {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.footer {
    position: relative;
    min-height: 100%;
}

.fluid-footer {
    background-color: #343a40
}

.container-footer {
    padding-top: 3%;
    padding-bottom: 2%;
}

.footer-kiri a {
    color: white;
    text-align: left;
}

.footer-kiri p {
    margin-left: 1%;
    margin-top: 5%;
}

.footer-p {
    color: blue;
}

.footer-p:hover {
    color: red;
}


/* about-us page */

.container-aboutus-page {
    padding: 10%;
    background-color: wheat;
}


/* contact-us page */

.container-contactus-page h1 {
    padding-top: 16%;
    text-align: left;
}

.container-contactus-page button {
    margin-bottom: 12.5%;
    margin-left: 6px;
    margin-right: 6px;
}


/* coffee-bean page */

.container-coffeebean {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.container-coffeebean .card {
    margin-top: 30px;
}

.modal-coffeebean p {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}


/* coffee-grinder page */

.container-coffeegrinder {
    text-align: center;
    padding-top: 150px;
    margin-bottom: 10%;
}

.modal-coffeegrinder p {
    padding-top: 30px;
}

.container-coffeegrinder .card {
    margin-top: 30px;
}